*~
#*
*#
.#*
=*
.glimpse_*
autom4te.*
*.o
*.so
*.a
*.orig
*.patch
*.rej
Makefile.in
*/Makefile.in
aclocal.m4
INSTALL
config.h.in
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/missing
config/ylwrap
configure
aclocal.m4
autom4te.cache.*
.deps/
Makefile
config.h
config.log
config.status
stamp-h1
depcomp
install-sh
missing
compile
